{% extends 'base.html' %}

{% block content %}

<div class="row">
<!--FILTER OPTIONS-->
    <div class="col-3 bg-gray p-5">
<!--TOPIC BUTTONS-->
    <h4 class="mb-3">Topics</h4>
        <a class="btn btn-darkgreen m-1">
            Django<span class="badge bg-light ms-1 text-dark">4</span>
        </a>
        <a type="button" class="btn btn-python m-1 text-light">
            Python<span class="badge bg-light ms-1 text-dark">8</span>
        </a>
        <button type="button" class="btn btn-javascript text-light m-1">
            JavaScript<span class="badge bg-light ms-1 text-dark">2</span>
        </button>
        <button type="button" class="btn btn-react m-1 text-light">
            React<span class="badge bg-light ms-1 text-dark">5</span>
        </button>
<!--LATEST BLOG POSTS ADDED-->
    <h4 class="mt-5 mb-3">Latest Added</h4>
    <ul class="mb-5">
        <li><a href="#"><span class="link">>_</span>Article 1</a></li>
        <li><a href="#"><span class="link">>_</span>Article 2</a></li>
        <li><a href="#"><span class="link">>_</span>Article 3</a></li>
        <li><a href="#"><span class="link">>_</span>Article 4</a></li>
    </ul>
<!--SECTION-->
    <a data-bs-toggle="collapse" href="#python" role="button" aria-expanded="false" aria-controls="python"><h5>Python</h5></a>
    <div class="collapse" id="python">
        <ul>
            <li><a href="#">Link Python Article 3</a></li>
            <li><a href="#">Link Python Article 2</a></li>
            <li><a href="#">Link Python Article 1</a></li>
        </ul>
    </div>
    <a data-bs-toggle="collapse" href="#javascript" role="button" aria-expanded="false" aria-controls="javascript"><h5>JavaScript</h5></a>
    <div class="collapse" id="javascript">
        <ul>
            <li><a href="#">Link JavaScript Article 3</a></li>
            <li><a href="#">Link JavaScript Article 2</a></li>
            <li><a href="#">Link JavaScript Article 1</a></li>
        </ul>
        
    </div>
    <a data-bs-toggle="collapse" href="#react" role="button" aria-expanded="false" aria-controls="react"><h5>React</h5></a>
    <div class="collapse" id="react">
        <ul>
            <li><a href="#">Link React.js Article 3</a></li>
            <li><a href="#">Link React.js Article 2</a></li>
            <li><a href="#">Link React.js Article 1</a></li>
        </ul>    
    </div>

    </div>
<!--BLOG SECTION-->
        <div class="col-9 p-4">
            <h4 class="display-1">Blog</h4>
            <p>This little blog contains documentation, cheatsheets and short tutorials<br>
            on technologies I am currently working with.</p>

<!--BLOG POSTS-->
            <div class="mt-5">
                <div class="row">
                {% for blog in blogs %}
                    <div class="col-4 p-2">                    
                        <div class="card" style="height:200px;">
                            <a href="{{blog.get_absolute_url}}">
                                <div class="card-body bg-green">
                                    <h5 class="card-title">{{blog.title}}</h5>
                                    <p class="card-text mb-3">{{blog.text|truncatechars:150}}</p>
                                    <a href="#" class="{{blog.language}}">{{blog.language|capfirst}}</a>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="mt-5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
<!--END BLOG POSTS-->
    </div>
</div>

{% endblock content %}