{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% include 'filter.html' %}
<!--BLOG SECTION-->
        <div class="col-9 p-5">
<!--BREADCRUMBS-->
                <nav class="mb-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item"><a href="#">{{post.language}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
                </ol>
            </nav>
            <h1 class="display-1 mb-3">{{post.title}}</h1>
            <p>{{post.description}}</p>
            <p class="text-muted mb-5">
            {% if post.updated_at|time:"H\h i\m" != post.created_at|time:"H\h i\m" %}
            Created: {{post.created_at}}<br>
            Last updated: {{post.updated_at}}
            {% else %}
            Created: {{post.created_at}}<br>
            {% endif %}

            </p>            
            <p class="pe-5 me-5">
            {{post.body|safe}}
            </p>
        </div>  
</div>

{% endblock content %}