<footer class="bg-darkgreen py-5">
<div class="row">
    <div class="col-4">
        <h5 class="text-center py-5 lead text-light">Hosted on Ubuntu 20.04,<br> by Digitalocean</h5>
    </div>
    <div class="col-4">
        <h4 class="color-green text-center py-5">Made with <span class="text-light">Django</span></h4>
    </div>
    <div class="col-4">
    <div class="d-flex justify-content-center">
        <div >
            <a href="https://www.linkedin.com/in/laurens-de-potter/"><h5 class=" pt-5 lead text-light">>_ Visit my Linkedin</h5></a>
            <a href="https://github.com/DePotterDev"><h5 class="lead text-light">>_ Visit my GitHub</h5></a>
            <a href="https://www.hackerrank.com/depotter_laurens"><h5 class="pb-5 lead text-light">>_ Visit my HackerRank</h5></a>
        </div>
    </div>
    
    </div>

</div>

    

</footer>