{% extends 'base.html' %}

{% block content %}

<div class="bg-green">
    <div class="container py-5">
        <h1>Olá,<br>
        Sou Laurens de Potter<br>
        Full Stack Desenvolvedor
        </h1>

        <h2 class="display-4">Sou um desenvolvedor residente em <br>
        São Paulo, Brasil.🇧🇷</h2>

    </div>
</div>
<div class="container py-5">
    <h1>Habilidades 💪 </h1>
    <div class="row py-5">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Línguas</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Frameworks</li>
                <li class="list-group-item">Django</li>
                <li class="list-group-item">Django REST Framework</li>
                <li class="list-group-item active" aria-current="true">Bibliotecas</li>
                <li class="list-group-item">BeautifulSoup</li>
                <li class="list-group-item">Scrapy</li>
                <li class="list-group-item">Matplotlib</li>
                <li class="list-group-item">Streamlit</li>
                <li class="list-group-item">Numpy</li>
                <li class="list-group-item">Pandas</li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Línguas</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock content %}