{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block content %}

<div class="bg-green">
    <div class="container py-5 viewport">
        <h1 class="intro-title">Olá,<br>
        Sou Laurens de Potter<br>
        <span class="color-darkgreen">Full Stack Desenvolvedor</span>
        </h1>

        <h2 class="display-5 mt-5">Sou um desenvolvedor residente em<br>
        São Paulo, Brasil.🇧🇷</h2>

        <a class="btn btn-lg btn-darkgreen mt-5">Contato</a>

    </div>
</div>

<!--SKILLS-->
<div id="skills" class="container py-5 my-5">
    <h2 class="title">Habilidades 💪 </h2>
    <div class="row py-5">
        <div class="row">
            <div class="col-2">
                    <h4 class="python">Python</h4>
                    <br>
                    <p><span class="link">>_</span>Scrapy</p>
                    <p><span class="link">>_</span>Django</p>
                    <p><span class="link">>_</span>Django REST Framework</p>
            </div>                  
            <div class="col-2">
                    <h4 class="javascript">JavaScript</h4>
                    <br>
                    <p><span class="link">>_</span>Cleave.js</p>
                    <p><span class="link">>_</span>React.js</p>
            </div>
            <div class="col-2">
                    <h4 class="database">Banco de Dados</h4>
                    <br>
                    <p><span class="link">>_</span>SQLite</p>
            </div>

<!--GITHUB API-->
            <div class="col-6 ps-5">
                <h4>Latest GitHub Repo Updates</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Repo</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><a class="link" href="{{repo.0.html_url}}" target="_blank">{{repo.0.name}}</a></td>
                            <td>
                                {% if repo.0.description %}
                                    {{repo.0.description}}
                                    {{repo.0.created_at|date:"c" }}
                                {% else %}
                                    <p>This repo has no description yet.. Working on it!</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><a class="link" href="{{repo.1.html_url}}" target="_blank">{{repo.1.name}}</a></td>
                            <td>
                                {% if repo.1.description %}
                                    {{repo.1.description}}
                                {% else %}
                                    <p>This repo has no description yet.. Working on it!</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><a class="link" href="{{repo.2.html_url}}" target="_blank">{{repo.2.name}}</a></td>
                            <td>
                                {% if repo.2.description %}
                                    {{repo.2.description}}
                                {% else %}
                                    <p>This repo has no description yet.. Working on it!</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><a class="link" href="{{repo.3.html_url}}" target="_blank">{{repo.3.name}}</a></td>
                            <td>
                                {% if repo.3.description %}
                                    {{repo.3.description}}         
                                {% else %}
                                    <p>This repo has no description yet.. Working on it!</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td><a class="link" href="{{repo.4.html_url}}" target="_blank">{{repo.4.name}}</a></td>
                            <td>
                                {% if repo.4.description %}
                                    {{repo.4.description}}
                                {% else %}
                                    <p>This repo has no description yet.. Working on it!</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                
                </table>
                <div class="row">
                    <div class="col">                  
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                </div>
            </div>   
        </div>               
    </div>
</div>

<!--PROJECTS-->
<div class="">
    <div id="projects" class="container py-5 my-5">
        <h2 class="title mb-3">Projetos 🛠</h2>
        <p>Trabalhar com Python é JavaScript<br>
    Construir Web Scraping applicativos em Scrapy ou BeautifulSoup, <br>
    sites ou API’s com Django. <a class="link" href="#">ver mais..</a></p>

        <div class="card mt-5" style="width: 18rem;">
            <div class="card-body bg-green border-darkgreen">
                <h5 class="card-title">Fetch API</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="row">
                    <div class="col">
                        <p class="card-link color-darkgreen">JavaScript</p>
                    </div>
                    <div class="col">
                        <p class="card-link color-darkgreen">Django</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ABOUT SECTION-->
<div id="about" class="container py-5 my-5">
    <div class="row">
<!--LEFT COLUMN-->
        <div class="col">
            <img class="circle mx-auto d-block" src="{% static 'media/laurens.jpeg' %}" alt="laurens">
        </div>
<!--RIGHT COLUMN-->
        <div class="col">
            <h2 class="title">Sobre  👨‍💻</h2>
            <p>Problem solving minded and creative<br>
            I studied graphic design in high school and a few years of graphic design in college.
            <br>
            Worked through my career in sales and as a technical support agent for<br>
            companies like Groupon, Cisco, Belkin and GoDaddy.</p>
        </div>
    </div>
</div>

<!--CONTACT FORM-->
<div class="bg-green py-5">
    <div class="container mt-5">
        <div class="px-5 mx-5">
            <h2 class="ms-5 mb-3 color-darkgreen title" id="contact">Contato</h2>
        </div>
        <div class="row p-5 mx-5 bg-light">
        <h4 class="ms-5 p-0 display-5">Solte Uma Linha</h4>
        <p class="ms-5 p-0 pb-5">Eu vou ressonar assim que possível.</p>
<!--lEFT COLUMN-->
        <div class="col ms-5 p-0">
            <h3 class="mb-3">Contact info:</h3>
            <p>depotter.laurens@gmail.com</p>
            <p>Cellular: 11 96 7750 753</p>

            <h3 class="mb-3">Endereço:</h3>
            <p>São Paulo, SP, Brasil</p>
            <p>Zona Sul</p>
        </div>
<!--RIGHT COLUMN-->
            <div class="col me-5">
                <form method="POST">
                    {% csrf_token %}
                    {% crispy form %}
                    <button type="submit" class="btn btn-lg btn-darkgreen mt-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}